
* {
    margin:0px;
    padding:0px;
}
.container {
    width: 100%;
    /* border: 2px solid black; */
    background-color: #e6e6f3;
}
 header 
{
    box-sizing: border-box;
    width:100%;
    height: 60px;
    /* border: 2px ridge grey; */
    background-color: white;
    position:fixed;
    z-index:100;  
}

.btn {
    display: inline-block;
    margin-left:800px;
    background: rgb(24, 198, 131);
    margin-top: 8px;
    padding: 8px;
    width: 12%;
    border-radius: 20px;
    font-size: 20px;
    position: absolute;
    color: white;
    border: none;
    text-align:center;
}
.heading{
    text-align:center;
    font-weight: 700;
    display:inline-block;
    margin-top:80px;
    width:210px;
    height:80px;
    /* border:2px solid black; */
}
.back {
    width: 100%;
    height: 300px;
    /* border: 2px solid black; */
    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255);
    color:white;
}
.dis{
    color:black;
    /* border:2px solid black; */
    width:100%;
    height:150px;
    background-color:white;
    display:flex;
    flex-direction:row;
}
.top{
    margin-left:3%;
    position :relative;
    width:20%;
    height:150px;
    line-height: 60px;
    /* border:2px solid black; */
}
.main {
    width: 86%;
    height:6200px;
    /* border: 2px solid black; */
    margin: auto;
    background-color: white;
}
img {
    /* border:2px solid black; */
    margin-left: 15px;
    display: inline-block;
}
#input{
    padding:10px;
    position: absolute;
    border-radius: 20px;
    margin-top:0px;
}
#img1{
    position: absolute;
    width: 29px;
    height: 52%;
    left: 139px;
    top: 9px;
}
 #search { 
    display: inline-block;
    position: absolute;
    top:5px;
    left: 650px;
    width: 20%;
    height: 40px;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255);
    position: relative;
    /* margin-top: 6050px; */
    opacity: 0.9;
}

.ft th {
    position: relative;
    left: 20px;
    width: 10%;
    color: white;
    padding: 8px;
    /* border: 2px solid black; */
    text-align: left;
}

.ft td {
    position: relative;
    left: 20px;
    color: white;
    /* border: 2px solid black; */
    text-align: left;
 }
.tr{
    box-shadow: 1px 2px 2px gray;
}
.data th{
    position: relative;
    left: 20px;
    width: 10%;
    color:black;
    padding: 8px;
    /* border: 2px solid black; */
    text-align: left;
}
.data td{
    position: relative;
    left: 20px;
    width: 10%;
    color:black;
    padding: 11px;
    /* border: 1px black; */
    text-align: left;
}
#fb {
    width: 10%;
    /* height:50px; */
}
#twitter {
    width: 9%;
    height: 30px;
}
.graph{
    background-color:white;
    /* border:2px solid black; */
    position:relative;
    margin-top:50px;
    width:63%;
    height:500px;
    display:inline-block;
}
#sell{
    margin-top:50px;
    width:36.5%;
    border:2px solid white;
    /* border-radius: 15px; */
    height:500px; 
    /* display:inline-block; */
    float:right;
    background-color:#79eb80;
}
.btn1{
    background-color:rgb(24, 198, 131) ;  
    border-radius:20px;
    margin:auto;
    margin-top:15%;
    width:400px;
    height:80px;
    border:2px solid white;
    text-align: center;
    font-size:40px;
}
a{
    text-decoration:none;
    color:black;
}
.heading2{
    position:relative;
    left:100px;
    text-align:center;
    font-size:20px;
    display:inline-block;
    margin-bottom:50px;
    width:250px;
    height:80px;
    top:30px;
    /* border:2px solid black; */
}
#hd{
    position:relative;
    left:100px;
    text-align:center;
    display:inline-block;
    margin-top:80px;
    width:50px;
    border-radius: 20px;;
    height:100px;
    /* border:2px solid black; */
    background-color:rgb(24, 198, 131);
}

#hd2{
    /* text-transform: capitalize; */
    position:relative;
    left:100px;
    text-align:center;
    font-size :30px;
    display:inline-block;
    top:40px;
    width:300px;
    height:120px;
    /* border:1px solid black; */
    text-transform: capitalize;
}
.login{
    width:100%;
    height:800px;
    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255);
    position:absolute;
} 
 .con{
    padding:50px;
    width:50%;
    height:400px;
    border:10px solid white;
    background-color:rgb(24, 198, 131);
    color:white;
    margin-left:300px;
    margin-top:80px; 
    text-align:center;
    border-radius:35px;
    box-sizing: border-box;
}
.label{
    padding:20px;
    display:inline-block;
    font-family: 'Noto Sans Ethiopic', sans-serif;
    font-size:20px;
 }
#sign{
    display:block;
    margin-top:50px;
    margin-left:100px;
    font-size:20px;
}

.wel{
    display:inline-block;
    position:absolute;
    top:10px;
    left:250px;
    width:15%;
    height:40px;
    font-size:20px;
    /* border:2px solid black; */
}

